# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [2]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv")

In [7]:
new_df = df[(df['total_claim_amount'] > 1000) & (df['response'] == 'Yes')]

print(new_df)

       unnamed:_0 customer       state  customer_lifetime_value response  \
189           189  OK31456  California             11009.130490      Yes
236           236  YJ16163      Oregon             11009.130490      Yes
419           419  GW43195      Oregon             25807.063000      Yes
442           442  IP94270     Arizona             13736.132500      Yes
587           587  FJ28407  California              5619.689084      Yes
...           ...      ...         ...                      ...      ...
10351       10351  FN44127      Oregon              3508.569533      Yes
10373       10373  XZ64172      Oregon             10963.957230      Yes
10487       10487  IX60941      Oregon              3508.569533      Yes
10565       10565  QO62792      Oregon              7840.165778      Yes
10708       10708  CK39096      Oregon              5619.689084      Yes

       coverage             education effective_to_date employmentstatus  \
189     Premium              Bachelor        2011-01-24         Employed
236     Premium              Bachelor        2011-01-24         Employed
419    Extended               College        2011-02-13         Employed
442     Premium                Master        2011-02-13         Disabled
587     Premium  High School or Below        2011-01-26       Unemployed
...         ...                   ...               ...              ...
10351  Extended               College        2011-01-05    Medical Leave
10373   Premium  High School or Below        2011-02-08         Employed
10487  Extended               College        2011-01-05    Medical Leave
10565  Extended               College        2011-01-14         Employed
10708   Premium  High School or Below        2011-01-26       Unemployed

      gender  ...  number_of_policies     policy_type        policy  \
189        F  ...                   1  Corporate Auto  Corporate L3
236        F  ...                   1    Special Auto    Special L3
419        F  ...                   2   Personal Auto   Personal L2
442        F  ...                   8   Personal Auto   Personal L2
587        M  ...                   1   Personal Auto   Personal L1
...      ...  ...                 ...             ...           ...
10351      M  ...                   1   Personal Auto   Personal L2
10373      M  ...                   1  Corporate Auto  Corporate L2
10487      M  ...                   1   Personal Auto   Personal L3
10565      M  ...                   1   Personal Auto   Personal L3
10708      M  ...                   1   Personal Auto   Personal L3

       renew_offer_type  sales_channel  total_claim_amount  vehicle_class  \
189              Offer2          Agent         1358.400000     Luxury Car
236              Offer2          Agent         1358.400000     Luxury Car
419              Offer1         Branch         1027.200000     Luxury Car
442              Offer1            Web         1261.319869            SUV
587              Offer2            Web         1027.000029            SUV
...                 ...            ...                 ...            ...
10351            Offer2         Branch         1176.278800  Four-Door Car
10373            Offer1          Agent         1324.800000     Luxury SUV
10487            Offer2         Branch         1176.278800  Four-Door Car
10565            Offer2          Agent         1008.000000  Four-Door Car
10708            Offer2            Web         1027.000029            SUV

       vehicle_size vehicle_type month
189         Medsize            A     1
236         Medsize            A     1
419           Small            A     2
442         Medsize            A     2
587         Medsize            A     1
...             ...          ...   ...
10351         Small            A     1
10373       Medsize            A     2
10487         Small            A     1
10565       Medsize            A     1
10708       Medsize            A     1

[67 rows x 27 columns]

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [8]:
df.groupby('response')['total_claim_amount'].mean()

response
No     432.998667
Yes    447.061570
Name: total_claim_amount, dtype: float64

In [ ]:
#The customer who responded 'Yes' have a higher total claim amount than the ones who said 'No'

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [24]:
df.groupby('state')['number_of_policies'].count()[lambda x: x>500]

state
Arizona       1937
California    4183
Nevada         993
Oregon        2909
Washington     888
Name: number_of_policies, dtype: int64

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [14]:
df.groupby(['gender', 'education'])['customer_lifetime_value'].agg(['min', 'max'])

                                     min          max
gender education
F      Bachelor              1904.000852  73225.95652
       College               1898.683686  61850.18803
       Doctor                2395.570000  44856.11397
       High School or Below  2144.921535  55277.44589
       Master                2417.777032  51016.06704
M      Bachelor              1898.007675  67907.27050
       College               1918.119700  61134.68307
       Doctor                2267.604038  32677.34284
       High School or Below  1940.981221  83325.38119
       Master                2272.307310  50568.25912

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here